* {
    box-sizing: border-box;
}

*,*::before, *::after {
    box-sizing:inherit;
}

a {
    text-decoration: none;
    color: inherit;
    display: inline-block;
}

ul,
li {
    margin: 0;
    padding: 0;
    list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

p {
    margin: 0;
}

body {
    background-position: top center;
    background-repeat: no-repeat;
    min-height: 320px;
    max-width: 1920px;
    width: 100%;
    height: 12032px;
    margin: 0 auto;
    background-image: url(../img/bg-1920.png);
}